{% extends "::modele2.html.twig" %}


{%block body%}
    <form method="post" action="">
        <label>Identifiant : <input type='text'  name='identifiant' id='identifiant' size="20px" /> <br /><br />
        <label>Mot de passe : <input type='password'  name='password' id='password' size="20px" /> <br /><br />
        <input type='submit' value='Connexion' name='connexion'/>    
   </form>

 {%endblock%}