<h3>Ajout de client</h3>
<form action="{{ path('suiviprojet_administrateur_creation_compte_client') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <input type="submit" />
</form>