<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}Place du formulaire
        
            <form method="post" action="e">
                
                <label>Société : <input type='text'  name='societe' id='societe' size="20px" /> <br /><br />
                <label>Nom du contact : <input type='text'  name='nameContact' id='nameContact' size="20px" /> <br /><br />
                <label>Prénom du contact : <input type='text'  name='prenomContact' id='prenomContact' size="20px" /> <br /><br />
                <label>Téléphone du contact : <input type='text'  name='telephoneContact' id='telephoneContacth' size="20px" /> <br /><br />
                <label>Identifiant : <input type='text'  name='identifiant' id='identifiant' size="20px" /> <br /><br />
                <label>Mot de passe : <input type='text'  name='password' id='password' size="20px" /> <br /><br />
                <input type='submit' value='Créer' name='creer'/>';    
            </form>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
