{% extends "::modeleParent.html.twig" %}

    {% block body %}
       
        {% block stylesheets %}{{parent()}}{% endblock %}
           
        {% block contentCenter2 %}<div class="center">    {% block menu %} {{parent()}} {% endblock %}
    
     <div class="contentCenter"> {% block content %}{% endblock %}

</div>{% endblock %} 
        

        {% block javascripts %}{% endblock %}
  
      </div>
    {% endblock %}
