<html>
    
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/css/css.css') }}" />
    {% endblock %}
    

    
    <body>
    {% block body %}
<div class="center">{% block contentCenter2 %}    <div class="menu">
        
        {% block menu %} 
           <a href="{{ path('blacklog_product_creation_userstories') }}">User storie</a>
           <a href="{{ path('suiviprojet_administrateur_creation_compte_client') }}">Compte client</a>
        {% endblock %}
    </div>
    
    <div class="center1">{% block contentCenter %}{% endblock %}</div> 
    
    <div class="left" >{% block contentLeft %}{% endblock %}</div> 
    
    <div class="right">{% block contentRight %}{% endblock %} </div>{% endblock %} </div>
        

        {% block javascripts %}{% endblock %}
  
      
    {% endblock %}
    </body>
</html>