{% extends "::modeleParent.html.twig" %}

    {% block body %}

        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/css/css.css') }}" />
        {% endblock %}
        
<div class="center">{% block contentCenter2 %}   {% block menu %}{{parent()}}{% endblock %} 
    
    <div class="center1">{% block contentCenter %}{% endblock %}</div>
        

        {% block javascripts %}{% endblock %}
  
      {% endblock %} 
    {% endblock %}