<html>
    
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/css/css.css') }}" />
    {% endblock %}
    
    <div class="menu">{% block menu %} LE MENU {% endblock %}</menu>
    
    <body>
    {% block body %}

    
    <div class="center1">{% block contentCenter %}{% endblock %}</div> 
    
    <div class="left" >{% block contentLeft %}{% endblock %}</div> 
    
    <div class="right">{% block contentRight %}{% endblock %} </div>
        

        {% block javascripts %}{% endblock %}
  
      
    {% endblock %}
    </body>
</html>