<html>
    
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/css/css.css') }}" />
    {% endblock %}
    
    <div class="menu">{% block menu %} LE MENU {% endblock %}</menu>
    
    <body>
    {% block body %}

    
   <div class="center">{% block contentCenter %}{% endblock %} </div>
        

        {% block javascripts %}{% endblock %}
  
      
    {% endblock %}
    </body>
</html>
