{% extends "::modele2.html.twig" %}

{% block menu %}{{parent()}}Ajout equipe<br /><br />{% endblock %}

{% block content %} 
<div class="well">
    <form method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-primary" />
    </form>
</div>
{% endblock %}
 
