{# empty Twig template #}
{% extends "::base.html.twig" %}

 {% block body %}

    Création d'un projet

    <form method="post" action="e">
                
        <label>Nom : <input type='text'  name='name' id='name' size="20px" /> <br /><br />
            <label>Client : </label><SELECT name='client'>
            {% for c in client%}
                <OPTION>{{c.identifiantconnection}}
            {%endfor%}
        </SELECT></br></br>
        <label>Prénom du contact : <input type='text'  name='prenomContact' id='prenomContact' size="20px" /> <br /><br />
        <label>Téléphone du contact : <input type='text'  name='telephoneContact' id='telephoneContacth' size="20px" /> <br /><br />
        <label>Identifiant : <input type='text'  name='identifiant' id='identifiant' size="20px" /> <br /><br />
        <label>Mot de passe : <input type='text'  name='password' id='password' size="20px" /> <br /><br />
        <input type='submit' value='Créer' name='creer'/>    
   </form>
    
 {% endblock %}
