{% extends "::base.html.twig" %}

{% block title %}
    {{ parent() }} - Consultation des notices
{% endblock %}
   
{% block emplacement %}
   Consultation des notices
{% endblock %}
    
{% block content %}
   <div class="span4 offset4">
    {% if theNotice is defined %}
        <html>{{theNotice.explication}}</html>
    {% endif %}
       </div> 
    {% if message is defined %}
        <a style="color:red">{{ message }}</a>
    {% endif %}

 {% endblock %}







  
